<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <div id="app">
<div class="producer">
    <rest-button btn_id="prodInc" class="common-button"></rest-button>
    <rest-button btn_id="prodDec" class="common-button"></brest-button>
</div>
<div class="q">
    <rest-button btn_id="q"class="common-button"></brest-button>
</div>


            <rest-button btn_id="1" class="common-button"></rest-button>
            <rest-button btn_id="2"class="common-button"></brest-button>

        </div>




    </div>
    <script src="script.js"></script>
</body>

</html>