<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="/informer.js"></script>
    <script src="/rbutton.js"></script>
    <script src="/hwnd.js"></script>
    <title>Shildt Vue.js</title>
    <meta charset="utf-8" />
</head>

<body>
    <div ref="header" class="container" style="max-width: 800px;">
        <div id="app" v-on:informer="procInformer($event)">

            <input type="text" v-on:input="setMessage" />
            <p>{{message}}</p>

            <hwnd ref="hwnd1" title="HWND1" v-on:informer="procInformer">
                <!-- <rbutton ref="rbutton1_hwnd1" title="rbutton1"></rbutton>
                <rbutton ref="rbutton2_hwnd1" title="rbutton2"></rbutton> -->
            </hwnd>

            <rbutton ref="rbutton1" bid='100'></rbutton>
        </div>

    </div>
    Access-Control-Allow-Origin

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                timerId: null,
                informers: ["informer0","informer1", "informer2", "informer3", "informer4"],
                ttt: null,
            },
            created: function () {
                console.log('app created()');
                this.timerId = setInterval(this.tick, 2000);
            },
            beforeDestroy: function () {
                clearInterval(this.timerId);
                console.log('app beforeDestroy()');
            },

            methods: {
                procInformer: function(event){
                    console.log('ttt informer emmited event processing' + event);
                },
                setMessage: function (event) {
                    this.message = event.target.value;
                },
                tick: function () {

                    console.log('tick()');
                    this.request();
                },
                request: async function () {
                    const origin = location.origin;
                    let response = await fetch(
                        'http://127.0.0.1:8081/message',
                        //'http://192.168.0.2:8081/message',
                        //'http://192.168.0.101:8081/message',
                        //'http://192.168.0.100:8081/message',
                        {
                            // method: 'post',
                            method: 'get',
                            headers: {
                                'Content-Type': 'application/json',
                                'Origin': origin,
                                'event': 'tick',
                                'btnClicked': 1,
                            },
                        });
                        state = await response.json();
                        console.log("get - ", state);
                        if(state.Producers.length<1){
                            console.log("There are no producers");
                             return;
                        }

                        //    app.$refs.hwnd1.$refs.informer0.show(state.Producers[0]);
                        //    app.$refs.hwnd1.$refs.informer1.show(state.Producers[1]);
                        let prodLength = app.$refs.hwnd1.informers.length;
                        for(let i=0; i<prodLength; i++){
                            app.$refs.hwnd1.informers[i].show(state.Producers[i]);
                           // app.$refs.hwnd1.informers[1].show(state.Producers[1]);
                        }

                           console.log("ttt - ", app.$refs.hwnd1.$refs);
                },
            }
        })

    </script>

</body>

</html>