<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="https://img.icons8.com/doodle/48/000000/bookmark-ribbon.png" type="image/png">


    <link rel="stylesheet" th:href="@{/assets/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="../static/assets/css/style.css" type="text/css">

    <script src="https://unpkg.com/vue"></script>

        <script src="../assets/js/informer.js"></script>
        <script src="../assets/js/rbutton.js"></script>
        <script src="../assets/js/hwnd.js"></script>

    <script src="../static/assets/js/informer.js"></script>
    <script src="../static/assets/js/rbutton.js"></script>
    <script src="../static/assets/js/hwnd.js"></script>

    <title>Shildt Vue.js</title>

    <meta charset="utf-8" />
</head>

<body>
    <div ref="header" class="container" style="max-width: 1000px; margin: 0 auto;">
        <header th:insert="bloks/header :: header"></header>
        <div id="app" v-on:informer="procInformer($event)">

            <hwnd ref="hwnd1" title="HWND1">
                <!-- <rbutton ref="rbutton1_hwnd1" title="rbutton1"></rbutton>
                <rbutton ref="rbutton2_hwnd1" title="rbutton2"></rbutton> -->
            </hwnd>

            <rbutton ref="rbutton1" bid='100' name='shutdown' title="Shut down" v-on:rbutton = "btnProcessing" ></rbutton>
            <footer th:insert="bloks/footer :: footer"></footer>
        </div>

    </div>

    <script>
        const URL = 'http://127.0.0.1:8081';
        //'http://192.168.0.2:8081/message',
        //'http://192.168.0.100:8081/message',
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                // informers: ["informer0", "informer1", "informer2", "informer3", "informer4"],
                ttt: null,
            },
            created: function () {
                console.log('app created()');
                // this.timerId = setInterval(this.tick, 2000);
            },
            beforeDestroy: function () {
                clearInterval(this.timerId);
                console.log('app beforeDestroy()');
            },

            methods: {
                btnProcessing(event) {
                    console.log("vue.html btnProcessing ", event);
                    if (event.elementName === "shutdown")
                        this.postStop();
                    this.request(event);
                },
                request: async function () {
                    const origin = location.origin;
                    let response = await fetch(
                        URL + "/message",
                        {
                            method: 'post',
                            headers: {
                                'Content-Type': 'application/json',
                                'Origin': origin,
                                'btnClicked': 1,
                                'event': 'restBtnClicked',
                            },
                            body: JSON.stringify({
                                "elementNumber": this.bid,
                                "elementName": this.title,
                            })
                        });
                    rasp = await response.json();
                    console.log("response 2nd phase is ", rasp);
                },

                postStop: async function () {

                    const origin = location.origin;
                    let response = await fetch(
                        URL + "/actuator/shutdown",
                        {
                            method: 'post',
                            headers: {
                                'Content-Type': 'application/json',
                                'Origin': origin,
                                'btnClicked': "ShutDuwn",
                                'event': 'restBtnClicked',
                            },
                            body: JSON.stringify({
                                "elementNumber": "/actuator/shutdown",
                                "elementName": "/actuator/shutdown",
                            })
                        });
                    rasp = await response.json();
                    console.log("response 2nd phase is ", rasp);
                },


            }
        })

    </script>
<!--    // curl -XPOST http://127.0.0.1:8081/actuator/shutdown-->
</body>

</html>


